@charset "utf-8";

/* common */
::selection {background:#d6e6ff;}
.body {width:100%; height:100%; background:url(../images/common/body_pattern.png);}
.body.sticky {margin-top:70px;}
.wrap1000 {width:1000px; margin:0 auto;}

/* header */
.header {width:100%; background:#fff; position:relative; z-index:3;}
.header .wrap1000 {display:flex; align-items:center; justify-content:space-between; height:70px; }
.wrap1000 {transition:padding 0.6s 0.1s;}
.header.sticky {position:fixed; top:0; left:0; }
.logo > a > img {width:48px; transition:width 0.6s 0.1s;}
.gnb_search_wrap {display:flex; align-items:center;}
.gnb_wrap .gnb {display:flex; margin:0 22px 0 0;}
.gnb_wrap .gnb > li {font-family:'Montserrat','Noto Sans KR',sans-serif;}
.gnb_wrap .gnb > li:not(:last-child) {margin:0 22px 0 0;}
.gnb_wrap .gnb > li > a {font-size:1.6rem; color:#222;}
.gnb_wrap .gnb > li > a::after {content:""; display:block; width:0%; height:1px; margin:3px auto -3px auto; background:#222; transition:width 0.3s; }
.gnb_wrap .gnb > li:hover > a::after {width:100%;}

.header_bar {width:100%; height:2px; background:#eee;}
.header_bar > span {display:block; width:0%; height:100%; background:#0046d3;}

.m_gnb_menu {display:block; width:30px; height:23px; position:relative; display:none;}
.m_gnb_menu > span {display:block; width:100%; height:3px; background:#333; position:absolute; transition:all 0.3s; border-radius:4px;}
.m_gnb_menu > span:nth-child(1) {top:0px; left:0;}
.m_gnb_menu > span:nth-child(2) {top:10px; left:0;}
.m_gnb_menu > span:nth-child(3) {top:20px; left:0;}
.m_gnb_menu > span:nth-child(1).active {top:10px; transform:rotate(45deg);}
.m_gnb_menu > span:nth-child(2).active {width:0%;}
.m_gnb_menu > span:nth-child(3).active {top:10px; transform:rotate(-45deg);}

.m_gnb_group {position:fixed; top:62px; right:-100%; width:80%; height:100%; background:#fff; padding:5%; box-sizing:border-box;  transition:right 0.3s; display:none;}
.m_gnb_group.active {right:0; z-index:3;}
.m_gnb_wrap {border-bottom:1px solid #ccc; padding:0 0 20px 0;}
.m_gnb_group .gnb > li {font-family:'Montserrat','Noto Sans KR',sans-serif;}
.m_gnb_group .gnb > li:not(:last-child) {margin:0 0 4% 0;}
.m_gnb_group .gnb > li > a {font-size:2rem; color:#333; position:relative; display:inline-block;}
.m_gnb_group .gnb > li > a::after {content:''; display:block; width:0%; height:1px; background:#333; margin:4px 0 0 0; transition:all 0.2s;}
.m_gnb_group .gnb > li > a:active::after {width:100%;}

.m_gnb_sns {display:flex; justify-content:center; margin:30px 0 0 0;}
.m_gnb_sns > li {text-align:center; }
.m_gnb_sns > li:not(:last-child) {margin:0 8px 0 0;}
.m_gnb_sns > li > a {font-size:1.5rem; color:#222; border:1px solid #ccc; width:70px; height:70px; border-radius:50%; display:flex; flex-direction:column; align-items:center; justify-content:center;}
.m_gnb_sns > li > a > i {font-size:3rem;}
.m_gnb_naver {color:#3ba046}
.m_gnb_github {color:#24292e;}
.m_gnb_facebook {color:#4267b2;}

.m_gnb_contact {text-align:center; margin:30px 0 0 0;}
.m_gnb_contact > li:not(:last-child) {margin:0 0 16px 0;}
.m_gnb_contact > li > a {font-size:1.6rem; color:#333;}

.opacity {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); opacity:0; z-index:-1; transition:opacity 0.3s; display:none;}
.opacity.active {opacity:1; z-index:3;}

/* Top Btn */
.top_btn {position:fixed; bottom:-50px; left:50%; margin-left:513px; font-size:3rem; width:40px; height:40px; line-height:40px; border-radius:40px; transition:background-color 0.2s;
    border:2px solid #425584; color:#425584; text-align:center; opacity:0; transition:all 0.3s; z-index:2;}
.top_btn:hover {background:#425584; color:#fff;}
.top_btn.active {bottom:16px; opacity:1;}

/* footer */
.footer {width:100%; background:#dcdfe6; padding:40px 0;}
.footer .wrap1000 {display:flex; justify-content:space-between; align-items:center;}
.footer_sns > li {  width:180px;}
.footer_sns > li:not(:last-child) {margin:0 0 6px 0;}
.footer_sns > li > a {display:block; border:1px solid #333; box-sizing:border-box; font-size:1.6rem; font-family:'Montserrat','Noto Sans KR', sans-serif; color:#333; padding:5px;}
.footer_sns > li:hover > a {color:#fff;}
.footer_sns > li > a > div {min-width:30px; display:inline-block;}
.footer_sns > li > a > div > i {font-size:1.8rem;}
.sns_naver:hover > a {background:#3ba046; border-color:#3ba046;}
.sns_github:hover > a {background:#24292e; border-color:#24292e;}
.sns_facebook:hover > a {background:#4267b2; border-color:#4267b2;}

.footer_contact {text-align:right;}
.footer_contact > li:not(:last-child) {margin:0 0 10px 0;}
.footer_contact > li > a {display:inline-block; border-bottom:1px solid #333; color:#333; padding:0 0 4px 0;}
.footer_copy {font-size:1.4rem;}

@media screen and (max-width: 1024px){
    .wrap1000 {width:100%; padding:0 30px; box-sizing:border-box;}
    .logo > a > img {width:44px;}
    .top_btn {margin-left:0; left:auto; right:20px;}
    
}
@media screen and (max-width: 870px){
    .logo > a > img {width:40px;}
    
}

@media screen and (max-width: 720px){
    .header .wrap1000 {height:60px; padding:0 20px;}
    .gnb_wrap {display:none;}
    .m_gnb_menu {display:block;}
    .m_gnb_group {display:block;}
    .opacity {display:block;}

    .top_btn {background:#425584; color:#fff; box-shadow:3px 3px 3px rgba(0,0,0,0.2);}

    .footer {padding:30px 0;}
    .footer .wrap1000 {flex-wrap:wrap;}
    .footer_sns {width:100%;}
    .footer_sns > li:not(:last-child) {margin:0 auto 6px auto;}
    .footer_sns > li {margin:0 auto; width:46%;}
    .footer_contact {width:100%; text-align:center; margin:20px 0 0 0;}
}